* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1 {
    font-size: 48px;
    font-weight: 100; /*100 단위로 있는 두께 수치*/
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.contents3{
    font-size: 14px;
    font-weight: 100;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
/* 위 : 공통 요소 */

.result {
    font-size: 24px;
}

.intro_bg {
    background-image: url(../img/intro.png);
    width: 100%;
    height: 718px;
}

.header {
    display: flex;
    /*search와 home, about등이 가로로 붙음*/
    width: 1280px;
    margin: auto;
    height: 86px;
}

.search_area {
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 24px;
}

.search_area>form>input {
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}

.search_area>form>span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
    color: #fff;
}

.nav>li {
    margin-left: 84px;
}

.nav>li>a {
    color: #fff;
}

.amount {
    position: relative;
    /*현재 위치 / 반을 잘라서 올라가야 하기 때문에*/
    top: -66px;
    /*현재 위치에서 강제로 포지션만 바뀌기 때문에 position 사용해도 됨*/
    display: flex;
    width: 1280px;
    background: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    /*좌우로 움직이는 위치 / 우측 박스 섀도우*/
    margin: auto;
}

.amount>li:not(:last-child)>div {
    border-right: 1px solid gray;
}

.amount>li>div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.amount>li {
    flex: 1;
    /*부모에 flex 후 자식에 flex 값 줘야함 / 한자리씩 차지 1;*/
    height: 132px;
}

.amount>li>div {
    text-align: center;
}

.intro_text {
    width: 100%;
    margin: 231px auto 231px auto;
    /*상-우-하-좌*/
    text-align: center;
}

.intro_text>h1,
.intro_text>h4 {
    color: #fff;
}

/* main_text0 */

.main_text0{
    width: 100%;
    height: 601px;
    margin-top: -132px; /*position으로 자꾸 밀어주면 밑 컨텐츠들도 포지션으로 밀어줘야하기 때문*/
    background : #f1f2f3
}

.main_text0 > h1{
    padding-top: 116px;
    text-align: center;
    
}

.main_text0 > .contents1{
    text-align: center;
}

.icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons > li {
    flex: 1;
    background: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
}

.icons > li > .icon_img{
    margin-top: 18px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents3{
    width: 185px;
    margin: auto;
    margin-top: 5px;
}

.more{
    width: 100px;
    height: 30px;
    background: #2F7AF4;
    color: white;
    margin: 25px auto;
    border-radius: 5px;
    font-size: 12px;
    line-height: 30px;
}